.model {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  position: fixed;
  right: 13px;
  bottom: 50px;
  z-index: 200;
}

.toggle-box {
  position: relative;
}

.toggle-box button {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: tomato;
  color: white;
  font-weight: 800;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  right: -6px;
  top: -12px;
  cursor: pointer;
}

.example-text {
  font-size: 14px;
  padding: 5px 10px;
  background-color: tomato;
  color: white;
  border-radius: 10px;
}

.example-text p:first-child {
  font-size: 16px;
  padding: 5px 0px;
  border-bottom: 2px solid white;
}

.example-text p:not(:first-child) {
  padding: 5px 0px 0px 5px;
}

.example-text span {
  font-size: 14px;
  font-weight: 700;
}

.model img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 0.8s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  }
}
