.food-display {
  margin-top: 30px;
  padding-bottom: 50px;
  border-bottom: 2.4px solid #e2e2e2;
}

.food-display-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  position: sticky;
  top: 0;
  background-color: transparent;
  backdrop-filter: blur(10px);
  z-index: 100;
  padding: 10px 0;
}

.food-display-header h2 {
  font-size: max(2vw, 24px);
  font-weight: 600;
}

.food-display-searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 5px;
  border: 2px solid tomato;
  border-radius: 4px;
  overflow: hidden;
}

.food-display-searchbar img {
  height: 26px;
  margin-right: 8px;
}

.food-display-searchbar input {
  width: 100%;
  height: 100%;
  padding: 12px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
}

.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px;
  margin-top: 30px;
  row-gap: 50px;
}

.no-match-found {
  /* height: 100vh; */
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  font-weight: 500;
}
